name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Start dependencies (docker-compose)
      run: |
                  docker-compose up -d  
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
      working-directory: 14_TestingYourCode/WeatherApi
    - name: Build
      run: dotnet build --no-restore
      working-directory: 14_TestingYourCode/WeatherApi
    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: 14_TestingYourCode/WeatherApi
